.App {
    font-family: Arial, sans-serif;
    text-align: center;
}
.body{
    margin: 0;
    padding: 0;
}
form {
    margin: 20px 0;
}

input {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

button {
    margin: 5px;
}